<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--Server Database-->
    <!--<add name="TravComEntities" connectionString="metadata=res://*/Model.TravcomEntities.csdl|res://*/Model.TravcomEntities.ssdl|res://*/Model.TravcomEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.6;initial catalog=TravCom;user id=sa;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="BatchPayEntities" connectionString="metadata=res://*/Model.BatchpayEntities.csdl|res://*/Model.BatchpayEntities.ssdl|res://*/Model.BatchpayEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=BatchPay;user id=sa;password=secret;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--Local Database-->
    <add name="TravComEntities" connectionString="metadata=res://*/Model.TravcomEntities.csdl|res://*/Model.TravcomEntities.ssdl|res://*/Model.TravcomEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=TravCom;user id=sa;password=secret;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BatchPayEntities1" connectionString="metadata=res://*/Model.BatchPayEntities.csdl|res://*/Model.BatchPayEntities.ssdl|res://*/Model.BatchPayEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=BatchPay;user id=sa;password=secret;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>